/* body {
  scroll-behavior: smooth;
} */
/* Bootstrap styling override */
.carousel-inner {
  height: 600px;
}
.navbar-brand {
  font-size: 35px;
}
.collapse {
  font-size: 20px;
}
.temp {
  height: 100vh;
  background-color: pink;
}
.abt {
  background-color: lightgreen;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* <!-- - - - - - - - - - - - - - - - - - - - - - -CAROUSEL STYLING STARTS HERE - - - - - - - - - - - - - - - - - - - -  --> */

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 0.6s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transition: 2s;
  transform: translate3d(0, 0, 0);
}
/* <!-- - - - - - - - - - - - - - - - - - - - - - -CAROUSEL STYLING ENDS HERE - - - - - - - - - - - - - - - - - - - -  --> */
