/* Bootstrap styling override */

/* <!-- - - - - - - - - - - - - - - - - - - - - - -NAVBAR STYLING STARTS HERE - - - - - - - - - - - - - - - - - - - -  --> */
@import url("https://fonts.googleapis.com/css2?family=Rosarivo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Marvel:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rosarivo&family=Rubik:wght@300&display=swap");

.nav-link {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
.end-link {
  padding-right: 25px;
}
.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 0;
  height: 3px;
  background-image: linear-gradient(
    45deg,
    hsl(137, 100%, 25%) 20%,
    hsl(115, 61%, 80%) 100%
  );
  transition: width 0.5s;
}
.nav-link:hover::after {
  width: 100%;
  transition: width 0.5s;
}
.navbar-brand {
  font-size: 30px !important;
  padding: 10px;
  font-family: "Rosarivo", serif;
}
.navbar-brand:hover {
  transform: scale(1.15);
  text-shadow: 0 0 8px rgb(67, 90, 223);
  transition: 0.5s;
}

/* <!-- - - - - - - - - - - - - - - - - - - - - - -NAVBAR STYLING STARTS HERE - - - - - - - - - - - - - - - - - - - -  --> */

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.carousel-inner {
  height: 100vh;
}
.navbar-brand {
  font-size: 35px;
}
.collapse {
  font-size: 20px;
}
.temp {
  height: 100vh;
  background-color: pink;
}
.abt {
  background-color: lightgreen;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}
.carousel-item {
  height: 100vh !important;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}
.carousel-caption {
  bottom: 10rem !important;
}
.carousel-item > .carousel-caption > h5 {
  font-size: 30px;
}
.carousel-item > .carousel-caption > p {
  font-size: 20px;
}
/* <!-- - - - - - - - - - - - - - - - - - - - - - -CAROUSEL STYLING STARTS HERE - - - - - - - - - - - - - - - - - - - -  --> */

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 0.6s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transition: 2s;
  transform: translate3d(0, 0, 0);
}

/* <!-- - - - - - - - - - - - - - - - - - - - - - -CAROUSEL STYLING ENDS HERE - - - - - - - - - - - - - - - - - - - -  --> */

/*Client CSS */

.client-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../assets/img/client-bg.webp);
  background-repeat: repeat-x repeat-y;
  background-size: contain;

  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: coral;
}

.client-heading {
  font-size: 60px;
  color: white;
  text-align: center;
  padding: 50px;
  font-family: "Rosarivo", serif;
}

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
  text-align: center;
}

.profile {
  flex-basis: 260px;
}

.profile {
  min-width: 350px;
}
.profile .profile-img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}
.profile .profile-img:hover {
  transform: scale(1.1);
  border: solid 3px green;
}

.profile:hover .profile-img {
  filter: grayscale(0);
}

.client-name {
  margin-top: 30px;
  font-size: 35px;
  text-align: center;
  font-family: "Rubik", sans-serif;
}

.profile h5 {
  text-align: center;
  color: rgb(233, 199, 199);
  font-size: 20px;
}

.profile p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
  color: rgb(162, 190, 162);
}

@media only screen and (max-width: 1150px) {
  .profiles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .client-heading {
    font-size: 40px;
    color: darksalmon;
    text-align: center;
  }

  .client-heading span {
    font-size: 15px;
  }

  .profiles {
    margin: 20px 0;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
  }
}

/* --------------------------our services-------------------------------- */

.heading {
  text-align: center;
  padding: 50px;
  font-size: 50px;
  color: white;
}

.main3 {
  padding: 0 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  padding-top: 30px;
  padding-bottom: 76px;
}
.sec {
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border: solid 3px rgb(7, 65, 21);
  display: flex;
  justify-content: space-between;
}
.sec:hover {
  transform: scale(1.02);
  background-color: green;
  cursor: pointer;
  color: white;
  box-shadow: 0 0 30px rgb(116, 236, 156);
}
.main > h2 {
  color: rgb(35, 99, 35);
  /* text-shadow: 2px 2px #00ff40; */
}

.main > p {
  color: black;
  opacity: 0.7;
}
.align {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon {
  display: flex;
  height: 100px;
  width: 100px;
}
.icon-background {
  color: #c0ffc0;
}
i {
  margin-top: 20px;
}

@media screen and (max-width: 992px) {
  .sec {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .sec {
    flex-direction: column;
  }
}






/* About Section CSS */


.about__section{
  height: 100vh;
  display: grid;
  place-items: center;
  grid-template-rows: 0.1fr 1fr;
}

.about__section  div {
  border: 1px solid #000;
}

.grid__wrapper{
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    'left right' 
    
  ;
  width: 80%;
}

.left{
  grid-area: left;
  display: grid;
  gap: 32px;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    'leftside-top'  
    'leftside-bottom'
  ;
}
.right{
  grid-area: right;
  display: grid;
  gap: 32px;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    'rightside-top'  
    'rightside-middle'  
    'rightside-bottom'
  ;
}

.ltop{
grid-area: leftside-top;
background: rgb(208, 192, 238);
}
.ltop h1{
  font-size: 20px;

}
.lbottom{
grid-area: leftside-bottom;
background: rgb(208, 192, 238);
}
.lbottom h1{
  font-size: 20px;
}
.rtop{
grid-area: rightside-top;
background: rgb(208, 192, 238);
}
.rtop h1{
  font-size: 20px;
  
}
.rmiddle{
grid-area: rightside-middle;
background: rgb(208, 192, 238);
}
.rmiddle h1{
  font-size: 20px;
}
.rbottom{
grid-area: rightside-bottom;
background: rgb(208, 192, 238);
}
.rbottom h1{
  font-size: 20px;
}